body {
  margin: 0;
  padding: 20px;
  background-image: url(netflix.png);
  backdrop-filter: brightness(0.5) grayscale(0.5);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #ffffff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-primary {
  background-color: #e50914;
  border: none;
  color: white;
  padding: 17px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
.info {
  margin-top: 10px;
  color: #c2c1c1;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.info a {
  text-decoration: none;
  color: #c2c1c1;
}
.form-group {
  display: flex;
  gap: 5px;
  align-items: center;
}
.sign-group {
  margin-top: 60px;
  display: flex;
  gap: 5px;
}
.sign-group a {
  color: #ffffff;
  text-decoration: none;
}
.sign-group h4 {
  margin: 0;
  color: #c2c1c1;
  font-weight: 400;
}
.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 250px;
  height: 150px;
}
.login-form-card {
  background-color: rgba(0, 0, 0, 0.801);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  width: 300px;
  height: 500px;
}
.login-form {
  display: flex;
  flex-direction: column;
}
.login-form input {
  padding: 17px 20px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
  background-color: rgb(70, 70, 70);
  color: #ffffff;
}
p a {
  color: #4b37ff;
  text-decoration: none;
}
p {
  font-size: 14px;
  color: #c2c1c1;
}
